@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guid değerlerini inceleyin</h1>
    <p>Transient: @ViewBag.Transient</p>
    <p>Scoped: @ViewBag.Scoped</p>
    <p>Singleton: @ViewBag.Singleton</p>
    <hr />
    <p>Transient: @ViewBag.ServiceTransient</p>
    <p>Scoped: @ViewBag.ServiceScoped</p>
    <p>Singleton: @ViewBag.ServiceSingleton</p>

</div>
